
<section id="info-display">
<h1>Listing ms_offers</h1>

<table>
  <tr>
    <th>Total</th>
    <th>Batch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ms_offers.each do |ms_offer| %>
  <tr>
    <td><%= ms_offer.total %></td>
    <td><%= ms_offer.batch_id %></td>
  </tr>
<% end %>
</table>

</section>

<%= render :template => 'layouts/msft_sidebar' %>
