<section id="info-display">
	<h1>Microsoft</h1>
	<comment>
		<p>
			All  Microsft related analytics health can be found here.All  Microsft related analytics health can be found here.
			All  Microsft related analytics health can be found here.All  Microsft related analytics health can be found here.
			All  Microsft related analytics health can be found here.All  Microsft related analytics health can be found here.

		</p>
	</comment>

	<figure>
		<%= image_tag("msft/hands.jpg",:class=>"image_box",:size => "600x500") %>

	</figure>
	<figcaption>

	</figcaption>
</section>
<%= render :template => 'layouts/msft_sidebar' %>
