<h1>Listing ms_txns</h1>

<table>
  <tr>
    <th>Total</th>
    <th>Batch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ms_txns.each do |ms_txn| %>
  <tr>
    <td><%= ms_txn.total %></td>
    <td><%= ms_txn.batch_id %></td>
  </tr>
<% end %>
</table>
