<h1>Listing batches</h1>

<table>
  <tr>
    <th>Fname</th>
    <th>Batch type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @batches.each do |batch| %>
  <tr>
    <td><%= batch.fname %></td>
    <td><%= batch.batch_type %></td>
  </tr>
<% end %>
</table>
