/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*----------------------------------

HTML Elements


-------------------------------------*/



body {
	background: #BDBFB5;
	font: 12px/170% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #6B6B6B; 
	text-align: center;	
	
}



/* Paragraph */
p { padding: 12px 10px 0px 40px;	}


/*-----------------------------------
			Layout
-----------------------------------*/
/* Navigation */
#nav {
	clear: both;	
	padding: 0px;	margin: 0px;
	width: 952px;
	height: 50px;
	background: #D2B48C url(nav.gif) no-repeat;
	-moz-border-radius-topleft: 35px;
	border-top-left-radius: 35px;
	-moz-border-radius-topright: 35px;
	border-top-right-radius: 35px;
}
#nav ul {
	float: left;	
	list-style: none;	
	margin: 5px 0 0 0;
	height: 45px;
	padding: 0 0 0 40px;					
}
#nav ul li {
	float: left;
	margin: 0; padding: 0 0 0 10px;		
}
#nav ul li a {
	float: left;
	margin: 0;
	padding: 0 15px 0 5px;
	color: #FFF;
	font: bold 15px/45px 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
   opacity: 0.5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
#nav ul li a:hover, 
#nav ul li a:active {
	color: #E7FAA9;	
  	opacity : 1;
}
#nav ul li#current {	
}
#nav ul li#current a {	
	color: #4B3D2C;
}

.wrapper{
	background: #D1D2CD;
	width: 100%;
	height: 100%;
}


/* Content Container */
.container {
	position: relative;
	width: 952px;
	height: 500px;
	
	background: #FFF url(wrap.gif )  repeat-y center top;
	margin: 40px auto 30px auto;
	text-align: left;	
	-moz-border-radius-topleft: 35px;
	border-top-left-radius: 35px;
	-moz-border-radius-topright: 35px;
	border-top-right-radius: 35px;

}


.content h1 {
	margin: 20px auto auto 40px ;
}
.content {
  margin: 0px 30px 30px auto;	
  opacity : 1;
  transition-property : opacity; 
  transition-duration : 3.0s; 
}
/* Sidebar*/


#info-display{
	float: left;
	width: 70%;
	height: 100%;
}

#sidebar {
	float: right;
	width: 20%;
	height: 100%;
	display: inline;	
}

#sidebar h3 {
	color: #66CCCC; 
	font: bold 1.2em 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	text-transform: none;
	letter-spacing: -0.5px;
	padding: 5px 0 0px 7px; 
	margin: 10px 0 0px 10px; 	
	border-bottom: 1px solid #E4F2C8;	
}

#sidebar ul{
    text-decoration: none;
	list-style: none;
//	width: 200px;
//	margin: 10px;
}

#sidebar ul li a {
	
	color: black;
	font: 1.0em 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
	opacity: 0.8;
   	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
	text-decoration: none;
	-moz-border-radius: 5px;
	border-radius: 5px
}
#sidebar li a:link, #sidebar li a:visited {
	color: gray;
	display: block;
	background:    orange ;
	padding: 8px 0 8px 10px;
	box-shadow: inset 1px 1px 1px 1px #999999;
	-moz-box-shadow: inset 1px 1px 1px 1px #999999;
	-webkit-box-shadow: inset 1px 1px 1px 1px #999999;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	

}

#sidebar ul li a:hover, 
#sidebar ul li a:active {
  color: black;	
  opacity : 1;
  background:  orange ;
  padding: 8px 0 8px 10px;
	box-shadow: inset 1px 1px 1px 1px #999999;
	-moz-box-shadow: inset 1px 1px 1px 1px #999999;
	-webkit-box-shadow: inset 1px 1px 1px 1px #999999;
	border-radius: 5px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
	
	
}
#sidebar ul li#current {	
}
#sidebar ul li#current a {	
	color: #4B3D2C;
}




