<h1>Listing ms_developers</h1>

<table>
  <tr>
    <th>Country</th>
    <th>Total</th>
    <th>Batch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ms_developers.each do |ms_developer| %>
  <tr>
    <td><%= ms_developer.country %></td>
    <td><%= ms_developer.total %></td>
    <td><%= ms_developer.batch_id %></td>
  </tr>
<% end %>
</table>

