
<section id="sidebar"><!--sidebar begins-->
	<ul>
		<li><a href="/msft/offers">Offers</a></li>
		<li><a href="/msft/developers">Developers</a></li>
		<li><a href="/msft/products">Products</a></li>
		<li><a href="/msft/txns">Transactions</a></li>
		
	</ul>
</section><!--sidebar ends-->


